@font-face
{
	font-family: 'SlicedAB';
	src: url('Sliced AB.ttf'); /* IE9 */
}
* {
	margin: 0;
	padding: 0;
}

/*  MAIN ELEMENTS */
body {
	font-size: 15pt;
	margin-top: 42px !important;
}

header {
	font-family: SlicedAB;
	background-color: #840000;
	border-bottom: 1px solid #740000;
	width: 100%;
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
}
	header div.title {
		padding: 8px 0 5px 30px; 
		font-size: 20pt; 
		font-weight: 800; 
		color: white;
		float: left;
	}
	header .RMnav a {
    		display: block;
    		float: right;
    		padding: 8px 10px;
    		color: white !important;
    		font-size: 19pt;
    		text-decoration: none;
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: 1px;
    	}
    	header .RMnav a:hover {
    		text-decoration: underline;
    	}
section.mainContent {
	margin-top: 42px;
}

article {
	clear: both;
	position: relative;
	width: 1000px;
	margin: 10px auto;
	padding: 10px;
	color: white;
	border: 1px solid #40454b;
	border-radius: 7px;
}
	article h1 {
		margin: -10px -10px 15px -10px;
		width: 100%;
		background-color: #292d30;
		border-radius: 7px 7px 0 0;
		padding: 5px 10px;
		color: #c3c2c2;
		text-shadow:0px 0px 15pt #FFFFFF;
		font-family: SlicedAB;
		font-size: 26pt;
		cursor: default;
	}
	article .bg {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-color: black;
		opacity: 0.7;
		border-radius: 7px;
		z-index: -1;
	}