#leftBar{
  font-family: SlicedAB;
  position: fixed;
  left: -306px;
  top: 0;
  width: 306px;
  margin-top: 42px;
  z-index: 999;
  display: block;
}

#player {
  position: relative;
  display: inline-block;
  width: auto;
  border: 2px solid #740000;
  box-shadow: 0px 0px 35px transparent;
  border-right-width: 4px;
  background-color: #740000;
}
  #player.YTmovePlayer {
    position: fixed !important;
    top: 150px;
    left: 400px;
    height: auto !important;
    border: 7px solid #A60000 !important;
    border-radius: 6px;
    box-shadow: 0px 0px 35px black;
    z-index: -1;
  }
  #player a.YTlightSwitch {
    position: absolute;
    top: -26px;
    right: 3px;
    background-color: #740000;
    padding: 2px 10px 2px 10px;
    border-radius: 6px 6px 0 0;
    color: white;
    text-decoration: none;
    font-size: 15pt;
  }
  #player a.YTpop {
    position: absolute;
    top: -26px;
    right: 60px;
    background-color: #740000;
    padding: 2px 10px 2px 10px;
    border-radius: 6px 6px 0 0;
    color: white;
    text-decoration: none;
    font-size: 15pt;
  }
  #player a.YTdrag {
    position: absolute;
    top: -26px;
    right: 110px;
    background-color: #740000;
    padding: 2px 10px 2px 10px;
    border-radius: 6px 6px 0 0;
    color: white;
    text-decoration: none;
    font-size: 15pt;
    cursor: move;
  }
  #player a.YTpoppedColor {
    background-color: #A60000;
  }
  #player #YTplayer101 {
    margin-bottom: -5px;
    width: auto;
    height: 200px;
    z-index: -1;
  }
  #player #YTplayer101.YTiframeEnlarge {
    width: 700px !important;
    height: 400px !important;
  }

#playlist {
  display: inline-block;
  height: 100%;
  width: 298px;
  overflow-y: scroll; 
  overflow-x: hidden; 
  border: 2px solid #740000;
  border-right-width: 6px;
  background-color: #0c0c0c;
  border-radius: 0;
  z-index: 999;
  box-shadow: 0px 0px 35px transparent;
}
  #playlist a {
    display: block;
    color: red;
    text-decoration: none;
  }
  #playlist a.More {
    text-align: center;
    background-color: #A60000;
    border-top: 2px solid #AE1919;
    color: white;
  }
  #playlist a.close {
    position: absolute;
    top: 2px;
    right: -34px;
    padding: 5px 12px 5px 19px;
    background-color: #0c0c0c;
    border: 1px solid #740000;
    z-index: -1;
    font-size: 17pt;

    transition: right 0.3s;
    -moz-transition: right 0.3s; /* Firefox 4 */
    -webkit-transition: right 0.3s; /* Safari and Chrome */
    -o-transition: right 0.3s; /* Opera */
  }
  #playlist a.close:hover {
    right: -40px;
    background-color: #191919;
  }
    #playlist a div.thumbnailBlock {
      display: block;
      padding: 6px;
      margin: 0 0 5px 0;
      border: 2px solid transparent;
    }
    #playlist a div.thumbnailBlock:hover {
      background-color: #740000;
      color: #e5e5e5;
      border: 2px solid #740000;
    }
      #playlist a div.thumbnailBlock.selected {
        background-color: #A60000;
        color: #cccccc;
        border: 2px solid #0c0c0c;
        
      }
      #playlist a div.thumbnailBlock img {
        float: left;
        margin: 0 5px 0 10px;
        width: 120px;
        height: 90px;
        border: 2px solid #b2b2b2;
      }
      #playlist a div.thumbnailBlock p.title {
        margin: 0;
        font-size: 17pt;
      }
      #playlist a div.thumbnailBlock p.smallDetails {
        margin: 5px 0px 0px 10px;
        font-size: 14pt;
        letter-spacing: 2px;
      }
  #playlist div.options {
    width: 300px;
    height: 300px;
    background-color: #0c0c0c;
    border: 1px solid #740000;
    position: absolute;
    top: 44px;
    right: 0;
    z-index: -1;
    padding: 10px;
    display: none;
  }
    #playlist div.options a.toggle {
      font-family: arial;
      text-transform: uppercase;
      position: absolute;
      right: -55px;
      letter-spacing: 1px;
      font-size: 13pt;
      top: 20px;
      transform: rotate(90deg);
      -ms-transform: rotate(90deg); /* IE 9 */
      -webkit-transform: rotate(90deg); /* Safari and Chrome */
      -o-transform: rotate(90deg); /* Opera */
      -moz-transform: rotate(90deg); /* Firefox */
      background-color: #0c0c0c;
      padding: 7px;
      border: 1px solid #740000;
      
      border-bottom-color: transparent;
    }
    #playlist div.options a.toggle:hover {
      background-color: #191919;
    }

    #playlist div.options .searchArea {
      border: 1px solid gray;
      background-color: black;
      border-radius: 7px;
      padding: 2px;
    }
      #playlist div.options .searchArea input[type="text"] {
        background-color: black;
        color: gray;
        border: 0;
        margin: 0;
        padding: 5px;
        width: 255px;
      }
      #playlist div.options .searchArea .search {
        background: url('http://localhost:1234/RM/asset/img/search_button.gif'); 
        width: 25px; 
        height: 25px;
        border: 0;
        border-radius: 7px;
      }
    #playlist div.options .search:hover {
      background-position: bottom;
    }
    #playlist div.options .playlistSet {
      height: 240px;
      overflow: auto;
    }
      #playlist div.options .playlistSet .selectPlaylist {
        font-family: arial;
        display: block;
        background-color: #0c0c0c;
        font-size: 10pt;
        padding: 4px 5px;
        border: 1px solid #740000;
        letter-spacing: 2px;
      }
      #playlist div.options .playlistSet .selectPlaylist:hover {
        background-color: #740000;
        color: white;
      }
      #playlist div.options .playlistSet .selectPlaylist:active {
        background-color: #410000;
        color: white;
      }
    #playlist div.options .playlistSet .selected {
      color: white;
      background-color: #740000;
    }
    #playlist div.options b.playlistTitle {
      display: block;
      color: white;
      margin: 5px 0;
      cursor: default;
      font-size: 14pt;
      letter-spacing: 2px;
    }
.playerOverlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.8;
  filter:alpha(opacity=80); /* For IE8 and earlier */
  z-index: 500;
}